
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}

header {
    position: fixed;
    width: 100%;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #0073e6, #00bfff);
    padding: 20px 20px;
    transition: background 0.3s ease;
}

.navbar.scrolled {
    background: linear-gradient(90deg, #005bb5, #0099cc);
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: rgb(0, 0, 0);
}
